/* Alice */
@font-face {
  font-family: "Alice";
  src: url('fonts/alice/Alice-Regular.ttf') format('truetype');
  font-weight: 400;
}

/* Lora */
@font-face {
  font-family: "Lora";
  src: url('fonts/lora/static/Lora-Regular.ttf') format('truetype');
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: "Lora";
  src: url('fonts/lora/static/Lora-Bold.ttf') format('truetype');
  font-style: bold;
}

@font-face {
  font-family: "Lora";
  src: url('fonts/lora/static/Lora-Italic.ttf') format('truetype');
  font-style: italic;
}

/* Mobile Styles */
@media only screen and (max-width: 400px) {
  html {
    font-size: 16px;
  }
  body {
    background-color: #dacc96; /* Light Yellow */
  }
}

  /* Tablet Styles */
@media only screen and (min-width: 401px) and (max-width: 960px) {
  html {
    font-size: 18px;
  }
  body {
    background-color: #e8ddaf; /* Yellow */
  }
}
  
/* Desktop Styles */
@media only screen and (min-width: 961px) {
  html {
    font-size: 18px; /* Default root font size */
  }
  body {
    background-color: #ffe080; /* BG Color */
  }
}

* {
  margin: 0px;
  padding: 0px;
}

.title {
  padding-bottom: 2rem;
  font-family: Alice, serif;
  font-size: 3rem;
}

p {
  font-family: Lora, Verdana, serif;
  font-weight: 700;
  padding-bottom: 1rem;
}

.page {
  height: 100vh;
  display: flex;
  flex: 1 1 auto;
  flex-direction: column;
  justify-content: start;
  padding: 2rem;
  gap: 2rem;
}

.navbar {
  display: flex;
  flex: 0 1 auto;
  background: rgb(42, 42, 35);
  height: 32px;
  width: 100%;
  padding: 0.5rem;
}

.navbar a {
  color: white;
  font-family: Lora, Verdana, serif;
  font-style: bold;
  text-decoration: none;
  padding: 0.5rem;
}

#intro_container {
  flex: 0 1 auto;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: start;
  flex-wrap: wrap;
}

.portrait_container {
  display: flex;
  flex: 0 1 25rem;
  clip-path: circle(42% at 50% 50%);
  margin: 2rem 0rem;
}

#portrait {
  width: 100%;
}

#introduction {
  display: flex;
  flex: 1 1 40vw;
  flex-direction: column;
  padding: 2rem;
}

#links {
  flex: 0 1 auto;
  display: flex;
  flex-direction: row;
  justify-content: right;
  align-items: start;
  flex-wrap: wrap;
  gap: 1rem;
  padding-top: 1rem;
  padding-right: 2rem;
}

.icon-button img {
  width: 1.5rem;
}

@media only screen and (min-width: 961px) {
  .icon-button:hover {
    transform: scale(1.1);
  }
}

#proj_container {
  display: flex;
  flex: 1 1 40vw;
  flex-direction: column;
  padding: 0rem 2rem;
}

#proj_display_container {
  display: flex;
  flex-direction: row;
  justify-content: left;
  min-height: 40rem;
}

#proj_sidebar {
  width: 25%;
  display: flex;
  flex-direction: column;
  align-items: stretch;
  padding: 1rem 0;
}

#proj_sidebar .tab {
  background: none;
  border: 1px transparent;
  border-radius: 10px;
  padding: 1rem;
  text-align: center;
  cursor: pointer;
  transition: background 0.5s ease;
  font-family: Lora, Verdana, serif;
  font-style: bold;
  font-size: 1rem;
}

#proj_sidebar .tab:hover {
  background-color: #ffe080;
  filter: brightness(85%);
}

#proj_sidebar .tab:focus {
  outline: none;
}

#proj_content {
  width: 75%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: start;
  padding: 2rem;
}

.project {
  display: none;
  text-align: center;
}

.project.active {
  display: block;
}

.project .img_container {
  height: 400px;
  width: fit-content;
  margin-bottom: 2rem;
  overflow: hidden;
}

.project img {
  height: 100%;
  border: 10px transparent;
  border-radius: 10px;
}

.caption {
  font-size: 1rem;
}

#credit {
  display: flex;
  padding: 5rem 2rem 2rem 2rem;
  justify-content: center;
}
