/* Alice */
@font-face {
    font-family: "Alice";
    src: url('fonts/alice/Alice-Regular.ttf') format('truetype');
    font-weight: 400;
}

/* Lora */
@font-face {
    font-family: "Lora";
    src: url('fonts/lora/static/Lora-Regular.ttf') format('truetype');
    font-weight: 700;
    font-style: normal;
}

@font-face {
    font-family: "Lora";
    src: url('fonts/lora/static/Lora-Bold.ttf') format('truetype');
    font-style: bold;
}

@font-face {
    font-family: "Lora";
    src: url('fonts/lora/static/Lora-Italic.ttf') format('truetype');
    font-style: italic;
}

/* Mobile Styles */
@media only screen and (max-width: 400px) {
    body {
      background-color: #F09A9D; /* Red */
    }
  }

  /* Tablet Styles */
  @media only screen and (min-width: 401px) and (max-width: 960px) {
    body {
      background-color: #F5CF8E; /* Yellow */
    }
  }
  
  /* Desktop Styles */
  @media only screen and (min-width: 961px) {
    body {
      background-color: #B2D6FF; /* Blue */
    }
  }

body {
  margin: 0;
  display: flex;
  flex-direction: column;
}

.navbar {
    display: flex;
    background: rgb(42, 42, 35);
    height: 32px;
    padding: 8px;
}

.navbar a {
    color: white;
    text-decoration: none;
    padding: 8px;
}

.landing_splash_block {
    display: flex;
}

#landing_splash_image {
    width: 100vw;
    height: 50vh;
    object-fit: cover;
    object-position: center;
}

.name {
  font-family: Alice, serif;
  font-size: 3rem;
}

p {
  font-family: Lora, Verdana, serif;
  font-weight: 700;
}

.footer {
    background-color: rgb(186, 222, 187);
    padding: 6px;
    clear: both;
}

.introduction {
    margin: auto;
    padding: 32px;
}

#landing_splash_block {

}