/* Alice */
@font-face {
  font-family: "Alice";
  src: url('fonts/alice/Alice-Regular.ttf') format('truetype');
  font-weight: 400;
}

/* Lora */
@font-face {
  font-family: "Lora";
  src: url('fonts/lora/static/Lora-Regular.ttf') format('truetype');
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: "Lora";
  src: url('fonts/lora/static/Lora-Bold.ttf') format('truetype');
  font-style: bold;
}

@font-face {
  font-family: "Lora";
  src: url('fonts/lora/static/Lora-Italic.ttf') format('truetype');
  font-style: italic;
}

/* Mobile Styles */
@media only screen and (max-width: 400px) {
  html {
    font-size: 16px;
  }
  body {
    background-color: #dacc96; /* Light Yellow */
  }
}

  /* Tablet Styles */
@media only screen and (min-width: 401px) and (max-width: 960px) {
  html {
    font-size: 18px;
  }
  body {
    background-color: #e8ddaf; /* Yellow */
  }
}
  
/* Desktop Styles */
@media only screen and (min-width: 961px) {
  html {
    font-size: 18px; /* Default root font size */
  }
  body {
    background-color: #eedb92; /* Blue */
  }
}

* {
  margin: 0px;
  padding: 0px;
}

.title {
  padding-bottom: 2rem;
  font-family: Alice, serif;
  font-size: 3rem;
}

p {
  font-family: Lora, Verdana, serif;
  font-weight: 700;
  padding-bottom: 1rem;
}

.page {
  height: 100vh;
  display: flex;
  flex: 1 1 auto;
  flex-direction: column;
  justify-content: start;
}

.navbar {
  display: flex;
  flex: 0 1 auto;
  background: rgb(42, 42, 35);
  height: 32px;
  width: 100%;
  padding: 0.5rem;
}

.navbar a {
  color: white;
  font-family: Lora, Verdana, serif;
  font-style: bold;
  text-decoration: none;
  padding: 0.5rem;
}

.row_container {
  padding: 2rem;
  flex: 0 1 auto;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: start;
  flex-wrap: wrap;
}

.portrait_container {
  display: flex;
  flex: 0 1 25rem;
  clip-path: circle(40% at 50% 50%);
  margin: 2rem;
}

#portrait {
  width: 100%;
}

#introduction {
  display: flex;
  flex: 1 1 40vw;
  flex-direction: column;
  padding: 2rem;
}

#links {
  flex: 0 1 auto;
  display: flex;
  flex-direction: row;
  justify-content: right;
  align-items: start;
  flex-wrap: wrap;
  gap: 1rem;
}

.icon-button img {
  width: 1.5rem;
}

@media only screen and (min-width: 961px) {
  .icon-button:hover {
    transform: scale(1.1);
  }
}

.footer {
  display: flex;
  background-color: rgb(186, 222, 187);
  padding: 6px;
  justify-content: center;
}
